body{
    background-image: url("../images/background.jpg");
    padding: 0;
    margin: 0;
   
}

.container{
    /* background-color: magenta; */
    position: relative;
    width: 90%;
    margin: auto;
}

.dateTime{
    color: darkslategrey;
    font-size: 2rem;
    font-family: serif;
    margin-top: 1em;
    font-weight: bold;
    /* text-align: center; */
}

.dateTimeText{
    padding: 0;
    margin: 0;
}

hr{
    height: 0.1em;
    background-color: black;
    border-style: none;
    border-radius: 2em;
}

.listTypeContainer{
    margin-top: 1em;
    margin-bottom: 1em;
    
}

.listType{
    padding: 0.5em;
    text-decoration: none;
    background-color: rgb(40, 39, 39);
    color: whitesmoke;
    border-radius: 4px;
    cursor: pointer;
}

.listType:hover{

}

.openFormButton{
    padding: 1em;
    background-color: darkslategray;
    color: whitesmoke;
    border-radius: 2em;
    cursor: pointer;
    border: none;
    
}

.openFormButton:hover{
    background-color: darkgreen;
}

.openFormButton:active{
    background-color: darkgreen;
}

#listTypeFormId{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: darkgray;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 1em;
    color: whitesmoke;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}

.listInfo{
    font-family: serif;
}

.itemName{
    /* padding: 0;
    margin: 0; */
    margin-left: 2em;
    color: whitesmoke;
    text-align: center;
    font-size: 1.2rem;
    width: 70%;
    border-radius: 5px;
    margin-top: 0.2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0.2em;
}
.itemBox{
    /* background-color: whitesmoke; */
    display: flex;
    border-radius: 5px;
    width: 70%;
    /* border: 1px solid gray; */
    position: relative;
    left: 15%;
    margin-bottom: 0.5em;
    
}

.deleteItemButton{
    /* margin-left: 2em;
    margin-right: 1em;
    margin-top: 1em; */
    /* margin-right: 1em; */
    margin-left: 2em;
    margin-top: 0.3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 0.2em;
    border-style: none;
    background-color: transparent;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    cursor: pointer;
    border-left: 1px solid gray;
    /* height: 2.5em;
    width: 2.5em; */
}

.deleteItemButton:hover{
    background-color: gray;
}
.deleteItemButton:active{
    background-color: darkgray;
}

.dustbin{
    height: 2.5em;
    width: 2.5em;
}

.listItems{
    overflow-y: scroll;
    height: 70vh;
    /* background-color: darkblue; */
}

.listItemsBox{
    align-items: center;
    /* background-color: magenta; */
}


.submit_form{
    position: fixed;
    bottom: 2em;
    width: 100%;
    height: 4em;
    padding: 0;
    margin: 0;
    left: 5%;
    /* background-color: green; */
}

.textField{
    border: none;
    width: 68%;
    height: 100%;
    background-color: whitesmoke;
    border-radius: 2em;
    font-size: 1.2rem;
    padding: 0;
    padding-left: 1em;
    margin: 0;
    font-family: serif;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.textField::placeholder{
    /* padding-left: 1em; */
    color: darkslategray;
    font-size: 1.2rem;
}

.textField:focus{
    outline: none;
    color: darkslategray;
}

.submitButton{
    height: 100%;
    width: 5em;
    border-radius: 50%;
    border: none;
    background-color: darkslategray;
    color: whitesmoke;
    cursor: pointer;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.submitButton:hover{
    background-color: darkgreen;
}

.submitButton:active{
    background-color: darkolivegreen;
}